# Ambiente virtual
venv/
.env

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos temporários
*.log
*.sqlite3
*.db
*.bak
*.tmp
*.swp

# Configurações do VSCode ou outras IDEs
.vscode/
.idea/

# Arquivos do Jupyter e pydeck (se houver)
.ipynb_checkpoints/
__pycache__/
venv.bak/
*.egg-info/

# Dados de execução do Streamlit
.streamlit/config.toml
.streamlit/credentials.toml

# Arquivos do sistema
.DS_Store
Thumbs.db
