/* Botões azuis simples */
.stButton > button {
    background-color: #40980a;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
}

.stButton > button:hover {
    background-color: #005f91;
    cursor: pointer;
}
